<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">

<head>
    <title>Cadastrar novo cliente</title>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Cadastrar novo cliente</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" th:object="${cliente}">
                    <div class="mb-3">
                        <label for="" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" th:field="*{nome}">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Data Nascimento</label>
                        <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Profissão</label>
                        <input type="text" class="form-control" id="profissao" th:field="*{profissao}">
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>