<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>


<title
    th:text="${cliente.id == null ? 'Spring Fundamentos - Cadastrar novo Cliente' : 'Spring Fundamentos - Editar Cliente'}">
</title>

<body>
    <div th:replace="~{fragments./_navbar :: nav}"></div>

    <main class="container">
        <div class="row">

            <h1 th:text="${cliente.id == null ? 'Cadastrar novo Cliente' : 'Editar Cliente'}"></h1>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" th:object="${cliente}">
                    <input type="hidden" th:field="*{id}">

                    <div th:replace="~{fragments/_bootstrap-fields :: input ('nome', 'Nome', 'text')}"></div>
                    <div
                        th:replace="~{fragments/_bootstrap-fields :: input ('dataNascimento', 'Data de Nascimento', 'date')}">
                    </div>
                    <div th:replace="~{fragments/_bootstrap-fields :: input ('profissao', 'Profissão', 'text')}"></div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </main>

    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>